.cross-button{
    @include reset-button;
    @include square(48px);

   margin: 25px 20px;

    position: relative;

    @include hover{
        background-color: var(--color-accent);

    }

    &::before,
    &::after{
        content: '';
        position: absolute;
        top: 65%;
        left: 7px;
        width: 70%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 5px;
    }

    &::before{
        rotate: 45deg;
    }
    &::after{
        rotate: -45deg;
    }

}
