.dashboard-templates{
        flex-direction: row;
   justify-content: space-between;
   
           @include tablet {
            flex-direction: column;
            row-gap: 30px;
        }
        img{
        height: auto;
        margin-inline: 0;
        padding-inline: 0;
        }
}