:root{

    --color-light-alt: #F5F5F5;
    --color-light: #ffffff;
    --color-text: #2B2B2B;


    --container-width: 1706px;
    --container-padding-x: 10px;

    --transition-duration: 0.2s;

    --font-family-base: 'Roboto', sans-serif;
    
}