:root {
    --color-light-alt: #FCFCFC;
    --color-light: #ffffff;
    --color-blue: #F2F5FF;
    --color-accent: #011C42;
    --color-primary: #054C73;
    --color-blue-dark: #03344F;
    --color-font: #666666;
    --color-font-dark: #333333;
    --color-dark: #111111;
    --color-banner: #DFE9F4;
 
    --container-width: 1220px;
    --container-padding-x: 20px;

    --transition-duration: 0.2s;
    --section-padding: 30px;
    --font-family-base: 'Montserrat', sans-serif;

    --border-radius: 50px;
    --button-height: 69px;

}